.shine-text {
    display: inline-flex;
    font-size: 5rem;
    font-weight: 700;
}
*
.shine-text span {
    display: inline-block;
    color: #252525;
    background: linear-gradient(90deg, #696969, #252525, #b6b4b4, #696969);
    background-size: 200%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeZoomIn 1.5s ease-out forwards, shine 3s linear infinite;
}



.shine-text span:nth-child(n) { animation-delay: calc(0.1s * var(--n)), calc(1.4s + var(--n) * 0.1s); }

@keyframes fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes shine {
    0% {
        background-position: -100%;
    }
    100% {
        background-position: 100%;
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10vh 2rem;
    gap: 2rem;
}

.words-wrapper .word {
    animation: circular-carousel 6s linear infinite;
    animation-delay: 1.5s;
}

@keyframes circular-carousel {
    0%, 20% {
        transform: translateY(0);
    }
    33.33%, 53.33% {
        transform: translateY(-100%);
    }
    66.66%, 86.66% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(-300%);
    }
}


.subtitle {
    font-size: 1.5rem;
    color: #252525;
    opacity: 0;
    animation: fadeIn 1.5s ease-out forwards;
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}